<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 200px);
            grid-gap: 30px;
        }

    .grid-item {
      text-align: center;
    }

    button {
      width: 200px;
      height: 80px;
      font-size: 24px;
    }


  </style>
</head>

<body>
  <h1>Hola! </h1>
  <p>Que deseas hacer?</p>
  <div class="center-container">
    <div class="grid-container">
      <div class="grid-item">
        <a th:href="@{/cliente/register}" href="/cliente/register"><button>Registrarme</button></a>
      </div>
      <div class="grid-item">
        <a th:href="@{/cliente/sigin}" href="/signin"><button>Iniciar Sesion</button></a>
      </div>

    </div>
  </div>

</body>

</html>